fabric
gnocchiclient
keystoneauth1
openstacksdk
paramiko
python-blazarclient
python-cinderclient
python-glanceclient
python-ironicclient
python-manilaclient
python-neutronclient
python-novaclient
python-zunclient
