fabric
keystoneauth1
openstacksdk
paramiko
git+https://github.com/ChameleonCloud/python-blazarclient
python-cinderclient
python-glanceclient
python-ironicclient
python-manilaclient
python-neutronclient
python-novaclient
python-swiftclient
python-zunclient
ipython
ipydatagrid
ipywidgets
networkx
matplotlib
pandas

